<iframe src="http://10.80.12.34:5601/app/kibana#/visualize/create?embed=true&type=pie&indexPattern=nginx-*&_g=(filters:!(),refreshInterval:(display:Off,pause:!f,value:0),time:(from:now-4h,mode:quick,to:now))&_a=(filters:!(('$$hashKey':'object:392','$state':(store:appState),meta:(alias:!n,disabled:!f,index:'nginx-*',key:X-Identifier-Origin.keyword,negate:!t,value:'-'),query:(match:(X-Identifier-Origin.keyword:(query:'-',type:phrase))))),linked:!f,query:(query_string:(analyze_wildcard:!t,query:'*')),uiState:(),vis:(aggs:!((enabled:!t,id:'1',params:(),schema:metric,type:count),(enabled:!t,id:'2',params:(field:X-Identifier-Origin-Segmentation.keyword,order:desc,orderBy:'1',size:5),schema:segment,type:terms)),listeners:(),params:(addLegend:!t,addTooltip:!t,isDonut:!f,legendPosition:right,shareYAxis:!t),title:'New+Visualization',type:pie))" height="600" width="100%"></iframe>


<iframe src="http://10.80.12.34:5601/goto/687dcf2160133f5627f09c180cca24ae?embed=true" height="600" width="100%"></iframe>
