<div class="sidebar" data-color="blue" data-image="">
    <div class="sidebar-wrapper">
        <div class="logo">
            <a href="http://candidate-onboarding.gitlab.devel" class="simple-text">
                Candidate Onboarding
            </a>
        </div>
        <div class="hidden text-center" id="link-login" style="margin:5%">
            <a data-toggle="modal" data-target="#login-modal" class="btn btn-default btn-block btn-fill btn-sm">
                <i class="fa fa-user-circle" aria-hidden="true"></i>
                <b>Login LDAP</b>
            </a>
        </div>
        <div id="user-container" class="text-center row hidden" style="margin-top:10%">
            <img class="img-circle" width="90" id="user-image"
                 style="margin-bottom:10px"
                 src="http://gitlab.devel/uploads/user/avatar/124/avatar.png">
            <br>
            <div class="btn-group" style="border:0!important;">
                <label for="btn-menu-user" type="button" class="btn btn-default btn-simple btn-primary">
                    <span style="color: #fff" id="user-name"></span>
                </label>
                <button id="btn-menu-user" type="button"
                        class="btn btn-default btn-simple btn-primary dropdown-toggle"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-chevron-down" aria-hidden="true" style="color:#fff"></i>
                </button>
                <ul class="dropdown-menu" aria-labelledby="user-menu">
                    <li><a href="#" id="btn-logout">Logout</a></li>
                </ul>
            </div>
        </div>
        <ul class="nav">
            <li data-menu-link="index">
                <a href="/index.html">
                    <i class="pe-7s-graph"></i>
                    <p>Burndown</p>
                </a>
            </li>
            <li data-menu-link="projects">
                <a href="/projects.html">
                    <i class="pe-7s-note"></i>
                    <p>Projetos</p>
                </a>
            </li>
            <!--
            <li data-menu-link="monitoring">
                <a href="/monitoring.html">
                    <i class="pe-7s-monitor"></i>
                    <p>Monitoramento</p>
                </a>
            </li>
            <li data-menu-link="microservices">
                <a href="/microservices.html">
                    <i class="pe-7s-monitor"></i>
                    <p>Microserviços</p>
                </a>
              </li>
            -->
            <li>
                <a target="_blank"
                   href="https://jira.catho.com/secure/RapidBoard.jspa?rapidView=251&projectKey=B2CATIV&view=planning">
                    <i class="pe-7s-check"></i>
                    <p>Backlog</p>
                </a>
            </li>
            <li>
                <a target="_blank" href="http://gitlab.devel/candidate-onboarding/">
                    <i class="pe-7s-users"></i>
                    <p>Gitlab Grupo</p>
                </a>
            </li>
            <li>
                <a target="_blank"
                   href="http://gitlab.devel/candidate-onboarding/candidate-onboarding.gitlab.devel">
                    <i class="pe-7s-config"></i>
                    <p>Reposit&oacute;rio</p>
                    <br>
                    <img alt="build status"
                         src="http://gitlab.devel/candidate-onboarding/candidate-onboarding.gitlab.devel/badges/master/build.svg"/>
                </a>
            </li>
        </ul>
    </div>
</div>


<!-- Modal LOGIN -->
<div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-modal" aria-hidden="true">
    <div class="modal-dialog" role="document" style="width:350px;">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Login LDAP</h5>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="ipt-login">Login</label>
                    <input type="text" class="form-control" id="ipt-login" placeholder="login">
                </div>
                <div class="form-group">
                    <label for="ipt-pass">Senha</label>
                    <input type="password" class="form-control" id="ipt-pass" placeholder="Password">
                </div>
                <div class="alert alert-danger hidden" id="login-error">Usuário ou senha inválida</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="btn-login">Logar</button>
            </div>
        </div>
    </div>
</div>
